body{
    background: linear-gradient(300deg, #d1f3c9, #d1f0c8, #daf3cf);
}
a{
    text-decoration: none;
}
.nav-bar {   
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(300deg, #eeff00, #f3ff4c, #edef72);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
}
.nav-bar-container {
    display: flex;
    justify-content: space-between;
}
.nav-bar-logo {
    display: flex;
    align-items: center;
    margin-left: 2rem;    
}
.nav-bar-login {
    display: flex;
    align-items: center;
    margin-left:  100rem;   
}
.login{
    color: #000000; 
}
.login:hover{
    text-decoration: underline;
}
.center{
    display: flex;
    justify-content: center;
}
.init-section{
    display: flex;
    justify-content: center;
}
.home{
    display: flex;
    align-items: center;
    margin-top: 5rem ;
    border-radius: 0.5rem;
}
.layouts{
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    margin-left: 40px;
    color: #ffffff;
    border-radius: 60px;
    padding: 50px 20px;
}
.layouts img{
    width: 115px;
    border-radius: 60px;
    height: 115px;
}
.create-session{
    margin-top: 35rem;
    margin-left: 45rem;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-radius: 20px;
    background-color: #000000;
}

