<!DOCTYPE html>

<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>HomeRBCML</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/createcall.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
   </head>
   <body>
      <header>
         <span class="header-container">
 
         <div class="nav-bar-logo">
             <a href="{{ url_for('home') }}">
                 <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo">
             </a>
         </div>
 
         <div class="nav-bar-models">
             <ul>
                 <li><a href="../../home.html">Home</a></li>
                 <li><a href="#rooms">Rooms</a></li>
                 <li><a href="#comunidade">Comunidade</a></li>
                 <li><a href="#suporte">Suporte</a></li>
             </ul>
         </div>
         </span>
     </header>

    <section class="Role-container"> 
      <div class="roles-card" id="roles-card-container"> </div>
      <button class="iniciar-session" onclick="startCall()" type="button">
            <h1>Iniciar Sessão</h1>
       </button>
    </section>

    

    <script src="{{ url_for('static', filename='scripts/roles.js') }}"></script>
    </body>
</html>