<!DOCTYPE html>

<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>HomeRBCML</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/createcall.css') }}">
   </head>
   <body>
    <header class="nav-bar"> 
         <div class ="nav-bar-container">
             <div class="nav-bar-logo">
                <a href="/home">
                  <h1>RBCML</h1>       
                </a>
           </div>
           <div class="nav-bar-sessionPage">
               <a href="/sessionsPage">
               <h1 class = "Pages">Comunidade</h1>    
               </a> 
           </div>
            <div class="nav-bar-login">
                     <a href="/cadastro">
                     <h1 class = "login">Login</h1>    
                     </a> 
           </div>
           </div>
    </header>
    <section class="Role-container">
      <form action="" method="POST">
        <div class="RoleType">
            <div class="Role-name">
                <h2>"Role"</h2>
            </div>
            <div class="email-input-container">
                <input type="email" name="email" placeholder="Digite o email" required>
                <button type="submit" class="circular-button">
                    <span>→</span>
                </button>
            </div>
        </div>
      </form>
    </section>
    </body>
</html>