<!DOCTYPE html>

<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>HomeRBCML</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/createcall.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
   </head>
   <body>
    <header>
            <div class="nav-bar-logo">
                  <a href="/home">
                     <h1>Rooms</h1>   
                  </a>         
            </div>
            <div class="nav-bar-models">
                  <a href="/createModel">
                  <h3 class = "Models">CModelos</h3>    
                  </a> 
                  <a href="/sessionsPage">
                  <h3 class = "Pages">Comunidade</h3>    
                  </a>
            </div>
     </header>
    <section class="Role-container"> 
      <div class="roles-card" id="roles-card-container"> </div>
      <button class="iniciar-session">
            <a href="" class="iniciar-session-button">
                <h1>Iniciar Sessão</h1>
            </a>
       </button>
    </section>
    <script src="{{ url_for('static', filename='scripts/roles.js') }}"></script>
    </body>
</html>