<!DOCTYPE html>

<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>HomeRBCML</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/createModel.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
   </head>
   <body>
    <header>
        <div class="nav-bar-logo">
            <a href="/home">
                <h1>Rooms</h1>
            </a>
        </div>
        <div class="nav-bar-models">
            <a href="/sessionsPage">
                <h3 class="Pages">Comunidade</h3>
            </a>
            <h3 class="login" id="openPop">Login</h3>
        </div>
    </header>
    <section class="Role-container">
    <div class="Model-container">
      <form action="/createModel" method="POST" enctype="multipart/form-data">
            <div class="Model-name">
                <label for="name">Model name:</label><br>
                <input type="text" id="name" name="name" pattern="[a-zA-Z _.@]+" maxlength="64" required><br><br>
            </div>
            <div class="Model-Description">
                <label for="description">Description:</label><br>
                <input type="text" id="description" name="description" pattern="[a-zA-Z0-9 _.@]+" maxlength="256" required><br><br>
        
            </div>
            <div class="Model-json">
                <label for="jsonFile">Insira o modelo:</label><br>
                <input type="file" id="jsonModel" name="jsonModel" accept=".json" required><br><br>
            </div>
             <div>
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
    </section>
    </body>
</html>