<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeRBCML</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/log_sing.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/start_call.css') }}">
</head>

<body>
    <header>
        <div class="nav-bar-logo">
            <a href="/home">
                <h1>Rooms</h1>
            </a>
        </div>
        <div class="nav-bar-models">
            <a href="/createModel">
                <h3 class="Models">CModelos</h3>
            </a>
            <a href="/sessionsPage">
                <h3 class="Pages">Comunidade</h3>
            </a>
            <h3 class="login" id="openPop">Login</h3>
        </div>
    </header>
    <section class="slider">
        <div class="slide">
        </div>
        <div class="login-popup" id="popUp">
        </div>
    </section>

    <script src="{{ url_for('static', filename='scripts/log_sing.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/start_call.js') }}"></script>
</body>

</html>