<!DOCTYPE html>

<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>HomeRBCML</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/newlogin.css') }}">
   </head>
   <body>
        <form action="/newlogin" method="POST">
            <div class="cadastro-container">
                    <div class="Lside">
                        <a href="/home">
                            <h1>RBCML</h1>       
                        </a>
                    </div>
                    <div class="Rside">
                        <div class="email">
                            <input type="tag" placeholder="tag" name="tag" pattern="[a-zA-Z _.@]+" maxlength="20" required>    
                        </div>
                        <div class="password">
                            <input type="password" placeholder="Password" pattern="[a-zA-Z _.@]+" maxlength="128" required>    
                        </div>
                        <div class="singup-container">
                            <div class="login">    
                                <button class="login-button">
                                    <p>Login</p>
                                </button>
                            </div>
                        </div>
                    </div>
            </div>
        </form>
            <script src="{{ url_for('static', filename='scripts/cadastro.js') }}"></script>
    </body>
</html>