<!DOCTYPE html>

<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>HomeRBCML</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/sessionsPage.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
   </head>
   <body>
      <header>
            <div class="nav-bar-logo">
                  <a href="/home">
                     <h1>Rooms</h1>   
                  </a>         
            </div>
            <div class="nav-bar-models">
                  <a href="/createModels">
                  <h3 class = "Models">CModelos</h3>    
                  </a> 
                  <a href="/sessionsPage">
                  <h3 class = "Pages">Comunidade</h3>    
                  </a>
                  <a href="/cadastro">
                      <h3 class = "login">Login</h3>    
                  </a>  
            </div>
     </header>
    <section class="sessions-container">
       <form action="" method="">
          <div class="list-sessions-container">

            <div class="list-sessions-button">
            <button class="layout-mais-recente">
              <h1 class="button-text">Mais Recentes</h1>
            </button>
            <button class="layout-with-pemissions">  
              <h1 class="button-text">Com Permissões</h1>
            </button>
            </div>

            <div class="section-active-container">
               <div class="section-active">
                  <h1 class="sections">Sessões</h1>
               </div>
               <div class="section-active">
                  <h1 class="sections">Sessões</h1>
               </div>
               <div class="section-active">
                  <h1 class="sections">Sessões</h1>
               </div>
            </div>
            
          </div>
       </form>
    </section>

    </body>
</html>